a .hangloose {
  width: 3rem;
  bottom: 1px;
  right: 1px;
}

.hangloose-container {
  position: absolute;
  right: 0;
  bottom: -15px;
}

.footer-bottom {
  background-color: var(--color-primary);
  overflow: hidden;
}

.footer-bottom > h5 {
  margin-left: 1.5rem;
  float: left;
  width: 50%;
}

@media only screen and (min-width: 25em) {

  .button-left {
    padding-right: .25em;
  }

  .button-right {
    padding-left: .25em;
  }

}

@media only screen and (min-width: 38em) {

}
