a .hangloose {
  width: 2rem;
}

.hangloose-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer-bottom {
  background-color: var(--color-primary);
  overflow: hidden;
}

.footer-bottom > h5 {
  margin-left: 1.5rem;
  float: left;
  width: 50%;
}

@media only screen and (min-width: 38em) {

  .button-left {
    padding-right: .25em;
  }

  .button-right {
    padding-left: .25em;
  }

}
