.btn {
  background-color: var(--color-main-button);
  border-color: var(--color-main-button);
  color: var(--color-primary-light);
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  padding: .85rem 1.5rem .85rem 1.5rem;
}

.btn-long {
  width: 100%;
}

.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-light {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-secondary);
  display: inline-block;
  width: 100%;
  text-align: center;

}

.btn-light:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-primary-light);
}
