h1 {
  display: none;
}

.logo,
img {
  display: inline-block;
  width: 4em;
}

header {
  background-color: var(--color-primary);
  padding: 1em;
  text-align: left;
  position: relative;
}

.icon-label-right {
  padding-left: 1em;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}

.nav li a {
  display: block;
}

.nav li:hover {
  background-color: var(--color-image-hover);
}

.nav li a:hover {
  background-color: var(--color-image-hover);
}

@media only screen and (min-width: 25em) {

  [type="checkbox"] + label::before {
    position: absolute;
    top: -7em;
  }

  .nav-check:checked ~ .nav {
    display: block;
  }

  .nav-check:checked ~ .nav-label {
    background-color: none;
  }

  .nav-open,
  .nav-close {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  .nav-close {
    display: none;
  }

}

@media only screen and (min-width: 38em) {

  nav li {
    float: left;
    width: 25%;
  }

}

@media only screen and (min-width: 60em) {

  header {
    overflow: hidden;
  }

  header h1 {
    float: left;
  }

  nav ul {
    float: right;
  }

}
