label,
.error-message,
.pad-left {
  padding-left: 1rem;
}

input,
textarea,
select {
  display: block;
  width: 100%;

  background-color: var(--color-primary-light);
  border: 3px solid var(--color-primary);
  border-radius: 0;
  padding-left: .5em;
}

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 0px solid var(--color-primary);
  background-color: var(--color-primary);
  outline-offset: 0;
}

input {
  color: var(--color-secondary);
}

select {
  background-size: 18px auto;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 0;

}

select:input {
  color: var(--color-primary-light);
}

[type="checkbox"] + label::before {
  background-color: var(--color-primary-light);
  background-size: cover;
  border: 3px solid var(--color-main-button);
  line-height: inherit;
}

fieldset {
  border: none;
}

.information-container {
  background-color: var(--color-primary);
  border: 3px solid var(--color-primary);
}

input:not([type="checkbox"]),
input:not([type="radio"]),
textarea,
select {
  padding: .85rem;
  padding-left: .85rem;
  height: auto;
}

/* Below are error message styles */

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"]:invalid + label::before {
  border-color: var(--color-accent);
}

.error-message {
  display: none;
  background-color: var(--color-error);
  color: var(--color-accent);
}

.error-message-highlighted {
  background-color: var(--color-accent);
  color: var(--color-primary-light);
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}
