.card {
  background-color: transparent;
  transition: background-color, .35s, scale, .35s;
}

.card:hover {
  background-color: var(--color-image-hover);
  transform: scale(1.01);
}

.card:focus {
  outline: 3px solid #000;
}

.embed {
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  width: 100%;
}

.card-img {
  background-position: center center;
  background-size: cover;
}
