.hr-small {
  width: inherit;
}

.swatch-outline {
  border: 1px solid var(--color-secondary);
}

.swatch-container {
  background-color: transparent;
  transition: background-color, .35s, .35s;
}

/* Error Messages */

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"]:invalid + label::before {
  border-color: var(--color-accent);
}

.error-message {
  display: none;
  background-color: var(--color-error);
  color: var(--color-accent);
}

.error-message-highlighted {
  background-color: var(--color-accent);
  color: var(--color-primary-light);
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}
