.wrapper {
  max-height: 500px;
}

.banner-content {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
}

.banner-wrapper {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.transparent-background {
  background-color: rgba(0,0,0,.4);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

}

.hero {
  padding-top: 4em;
}

@media only screen and (min-width: 38em) {

  .hero {
    padding-top: 6em;
  }

}

@media only screen and (min-width: 60em) {

  br {
    display: none;
  }

  .hero {
    padding-top: 7em;
  }

  .wrapper {
    padding-top: 3em;
  }

}
